body {
    background-color: white !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}

.gst{
    display:none;
}

.filter p{
    font-size: 0.8rem;
}

.filter a{
    text-decoration: none;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}

.tax-toogle{
    border:1px solid #000;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

h3{
    text-align: center;
    color: #fe424d;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    font-size: 2rem;
    color: #fe424d;
}

.nav-link {
    color: #222222 !important;
}

.card-listing {
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-img-top {
    border-radius: 1rem !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.listing-link {
    text-decoration: none !important;
    color: #222222;
}

.card-img-overlay {
    opacity: 0;
    color: #000 !important;
}

.card-img-overlay:hover {
    opacity: 0.6;
    color: #222222 !important;
    background-color: white !important;
}


input,select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

#search-button {
    background-color: #fe424d;    
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #fe424d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #b9d0ea;
}

.card img {
    width: 100%;
    height: 50vh;
    border: none !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}

.list-group-item {
    font-weight: bold;
}

.btn-primary,
.btn-secondary {
    margin-right: 10px;
    color: #fe424d;

}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left !important;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin: 0 10px;
}

.rating label:before {
    content: '\2605';
    font-size: 30px;
    color: #ccc;
    transition: color 0.25s;
}

.rating input:checked~label:before {
    color: #f90;
}
  
textarea {
    resize: none;
}

.footer{
    font-size: 15px;
}