<% layout('layouts/boilerplate') %>
<div class="row mt-3">
    <h3 class="col-6 offset-3">Signup of Wanderlust</h3>

    <div class="col-6 offset-3">
        <form action="/signup" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" class="form-control" required ><br><br>
            
            <button type="submit">Register</button>
        </form>
    </div>
</div>